#container
{
    margin-left: 100px;
    margin-right: 100px;
}

#nav
{
    float: left;
    width: 15%;
}

#sidebar
{
    float:right;
    width: 20%;
}

#center
{
    width: 75%;
}

#header
{
    text-align: center;
}

#footer
{
    text-align: cneter;
    clear: both;
    padding: 0;
}

#floatright
{
    float: right;
}

.news
{
    text-align: center;
}